<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Namyang Smart City</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin-lte/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin-lte/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="/dashboard"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link">첫 페이지</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link">고객 지원</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="검색" aria-label="검색">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/dashboard"><i
            class="fa fa-th-large"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin-lte/index3.html" class="brand-link">
      <img src="/admin-lte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Namyang City</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/dashboard" class="d-block">Good Cityman</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">사용자공통</li>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link active">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>지도서비스</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>차량상황</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>도로상황</p>
            </a>
          </li>
          <li class="nav-header">기관사용자</li>
          <li class="nav-item">
            <a href="/admin-lte/pages/calendar.html" class="nav-link">
              <i class="nav-icon fa fa-calendar"></i>
              <p>사고정보</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin-lte/pages/calendar.html" class="nav-link">
              <i class="nav-icon fa fa-calendar"></i>
              <p>건강정보</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin-lte/pages/calendar.html" class="nav-link">
              <i class="nav-icon fa fa-calendar"></i>
              <p>도로정보</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">지도서비스</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Namyang City</a></li>
              <li class="breadcrumb-item active">Map Service</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
			<div class="card col-sm-12">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">
                  <i class="fa fa-pie-chart mr-1"></i>
					지도서비스
                </h3>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">차량의 고유 번호</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">차량의 위치</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">운전자 정보</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">환경 정보 (미세먼지) </th></tr>
                        </thead>
                        <tbody>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <tr role="row" class="odd">
                          <td class="sorting_1">66보 6677</td>
                          <td>14161688.9956045</td>
                          <td>김**</td>
                          <td>8</td>
                         
                        </tr><tr role="row" class="even">
                          <td class="sorting_1">54가 0639</td>
                          <td>4528148.6245762855</td>
                          <td>장**</td>
                          <td>7</td>
                          
                        </tr><tr role="row" class="odd">
                          <td class="sorting_1">19오 7777</td>
                          <td>14161622.710369037</td>
                          <td>나**</td>
                          <td>12</td>
                          
                        </tr><tr role="row" class="even">
                          <td class="sorting_1">14도 7042</td>
                          <td>4528225.36018671</td>
                          <td>마**</td>
                          <td>10</td>
                          
                        </tr><tr role="row" class="odd">
                          <td class="sorting_1">52각 3108</td>
                          <td>14161768.41845421</td>
                          <td>심**</td>
                          <td>9</td>
                          
                        </tr><tr role="row" class="even">
                          <td class="sorting_1">33육 4010</td>
                          <td>4528206.848093921</td>
                          <td>나**</td>
                          <td>6</td>
                          
                        </tr><tr role="row" class="odd">
                          <td class="sorting_1">66무 3333</td>
                          <td>14161788.12487556</td>
                          <td>김**</td>
                          <td>10</td>
                          
                        </tr><tr role="row" class="even">
                          <td class="sorting_1">45가 6492</td>
                          <td>4528118.467779969</td>
                          <td>마**</td>
                          <td>12</td>
                          
                        </tr><tr role="row" class="odd">
                          <td class="sorting_1">33육 4010</td>
                          <td>14161722.43680438</td>
                          <td>진**</td>
                          <td>9</td>
                          
                        </tr><tr role="row" class="even">
                          <td class="sorting_1">33육 4010</td>
                          <td>4528107.420240727</td>
                          <td>강**</td>
                          <td>8</td>
                          
                        </tr></tbody>
                        <tfoot>
                        </tfoot>
                      </table>
				</div>
			</div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2018 <a href="/dashboard">Namyang City</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Release Date</b> 2018-08-11
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admin-lte/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 4 -->
<script src="/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin-lte/dist/js/adminlte.js"></script>
</body>
</html>
