<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>roadPage</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  
  <body>

  <div id="info"></div>

  </body>

  <script type="text/javascript">

    $(function () {
      timer = setInterval(function () {

        $.ajax({
          url: '/sendDetectInfo',
          dataType: 'json',
          method: 'post',
          success: function (result) {
            var len = result.length, cnt = 0;
            for (var i = 0; i < len; i++) {
              if (result[i].name == 'car' || result[i].name == 'truck' ||
                result[i].name == 'bus' || result[i].name == 'train') {
                cnt++;
              }
            }
            $("#info").html(cnt);
          }
        });
      }, 1000);
    });
  </script>
 

</html>